Flows/433MHz_to_MQTT.json
[
    {
        "id": "bea7e2ac.d7f56",
        "type": "tab",
        "label": "433MHz to MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98cfa763.a2e488",
        "type": "rfx-sensor",
        "z": "bea7e2ac.d7f56",
        "name": "rfx-sensor read",
        "port": "dda18587.bb39a8",
        "topicSource": "all",
        "topic": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "6243fccb.fc8244"
            ]
        ]
    },
    {
        "id": "6243fccb.fc8244",
        "type": "switch",
        "z": "bea7e2ac.d7f56",
        "name": "Route RFX to MQTT",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TH9/0x9700",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TEMP10/0x3D01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TH9/0x8700",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "TH10/.*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "c5765e0a.1dff3",
                "aa633ab1.8b7858"
            ],
            [
                "b34b578e.1d7458"
            ],
            [
                "2b2aa7d0.21ac78",
                "cb7d1b7c.e05db8"
            ],
            [
                "d37eeb7c.901758"
            ]
        ]
    },
    {
        "id": "46dee593.06a21c",
        "type": "mqtt out",
        "z": "bea7e2ac.d7f56",
        "name": "Publish MQTT message",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "3bf4f1e1.ca763e",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "c5765e0a.1dff3",
        "type": "change",
        "z": "bea7e2ac.d7f56",
        "name": "Outdoor temp: Create message and topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Home/Outdoor/Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 120,
        "wires": [
            [
                "46dee593.06a21c"
            ]
        ]
    },
    {
        "id": "b34b578e.1d7458",
        "type": "change",
        "z": "bea7e2ac.d7f56",
        "name": "Porch temp: Create message and topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Home/Porch/Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "46dee593.06a21c"
            ]
        ]
    },
    {
        "id": "aa633ab1.8b7858",
        "type": "change",
        "z": "bea7e2ac.d7f56",
        "name": "Outdoor hum: Create message and topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Home/Outdoor/Humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "46dee593.06a21c"
            ]
        ]
    },
    {
        "id": "ae288c3e.9f562",
        "type": "rfx-lights-in",
        "z": "bea7e2ac.d7f56",
        "name": "",
        "port": "dda18587.bb39a8",
        "topicSource": "all",
        "topic": "",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "f9942cd1.c02f8",
                "a60fab5c.9421b8",
                "ace84787.a1295"
            ]
        ]
    },
    {
        "id": "6e102dc8.622c84",
        "type": "function",
        "z": "bea7e2ac.d7f56",
        "name": "increase motion count as msg.payload",
        "func": "var count = flow.get('motion_count')||0;\nvar newMsg = { payload: count };\ncount = count + 1;\nif ( count > 100 ) {\n    count = 0;\n}\nflow.set('motion_count', count);\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "74c0ba31.e51d64"
            ]
        ]
    },
    {
        "id": "f9942cd1.c02f8",
        "type": "switch",
        "z": "bea7e2ac.d7f56",
        "name": "Check if porch motion sensor",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "AC/0x031B9BF2/16",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "6e102dc8.622c84"
            ]
        ]
    },
    {
        "id": "74c0ba31.e51d64",
        "type": "change",
        "z": "bea7e2ac.d7f56",
        "name": "Create topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Home/Porch/Motion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "46dee593.06a21c"
            ]
        ]
    },
    {
        "id": "fb6500b2.9bc2",
        "type": "comment",
        "z": "bea7e2ac.d7f56",
        "name": "Read Telldus 433MHz motion sensor",
        "info": "",
        "x": 179.52430725097656,
        "y": 308.9166946411133,
        "wires": []
    },
    {
        "id": "f2a2c280.1a608",
        "type": "comment",
        "z": "bea7e2ac.d7f56",
        "name": "Read 433MHz climate sensors",
        "info": "",
        "x": 167.52777099609375,
        "y": 113.91667938232422,
        "wires": []
    },
    {
        "id": "2b2aa7d0.21ac78",
        "type": "change",
        "z": "bea7e2ac.d7f56",
        "name": "Bathroom Temp: Create message and topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Home/GroundFloor/Bathroom/Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "46dee593.06a21c"
            ]
        ]
    },
    {
        "id": "cb7d1b7c.e05db8",
        "type": "change",
        "z": "bea7e2ac.d7f56",
        "name": "Bathroom hum: Create message and topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Home/GroundFloor/Bathroom/Humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "46dee593.06a21c"
            ]
        ]
    },
    {
        "id": "a60fab5c.9421b8",
        "type": "switch",
        "z": "bea7e2ac.d7f56",
        "name": "Check if back door open sensor",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "AC/0x01973FFE/16",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "b421e2.00099e2"
            ]
        ]
    },
    {
        "id": "b421e2.00099e2",
        "type": "function",
        "z": "bea7e2ac.d7f56",
        "name": "set message",
        "func": "if (msg.payload === 'On') {\n    msg.payload = 1.0;\n} else if (msg.payload === 'Off') {\n    msg.payload = 0.0;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "706b7925.679e98"
            ]
        ]
    },
    {
        "id": "706b7925.679e98",
        "type": "change",
        "z": "bea7e2ac.d7f56",
        "name": "Create topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Home/BackDoor/Open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 520,
        "wires": [
            [
                "46dee593.06a21c"
            ]
        ]
    },
    {
        "id": "d37eeb7c.901758",
        "type": "change",
        "z": "bea7e2ac.d7f56",
        "name": "Workroom temp: Create message and topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Home/Workroom/Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 80,
        "wires": [
            [
                "46dee593.06a21c"
            ]
        ]
    },
    {
        "id": "ace84787.a1295",
        "type": "switch",
        "z": "bea7e2ac.d7f56",
        "name": "Check if back porch motion sensor",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "AC/0x002353F2/16",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "2c84b73d.a34c08"
            ]
        ]
    },
    {
        "id": "2c84b73d.a34c08",
        "type": "function",
        "z": "bea7e2ac.d7f56",
        "name": "increase motion count as msg.payload",
        "func": "var count = flow.get('motion_count2')||0;\nvar newMsg = { payload: count };\ncount = count + 1;\nif ( count > 100 ) {\n    count = 0;\n}\nflow.set('motion_count2', count);\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 440,
        "wires": [
            [
                "b3317dd5.76b8f"
            ]
        ]
    },
    {
        "id": "b3317dd5.76b8f",
        "type": "change",
        "z": "bea7e2ac.d7f56",
        "name": "Create topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Home/BackPorch/Motion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "46dee593.06a21c"
            ]
        ]
    },
    {
        "id": "dda18587.bb39a8",
        "type": "rfxtrx-port",
        "z": "",
        "port": "/dev/serial/by-id/usb-RFXCOM_RFXtrx433_A11D2A2J-if00-port0",
        "rfyVenetianMode": "EU"
    },
    {
        "id": "3bf4f1e1.ca763e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.1.16",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]
